In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kannan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kannan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kannan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\kannan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kannan\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\kannan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

1.4.2

In [8]:
a = [1, 7, 2]

new = pd.Series(a, index = ["x", "y", "z"])
print(new)

x    1
y    7
z    2
dtype: int64

In [4]:
new = {"college":["abc","cdf"]
}

data= pd.DataFrame(new)
print(data)

  college
0     abc
1     cdf

In [6]:
new = {"NAME":["stu1","stu2"],
       "MARK":[90,80]
}

data= pd.DataFrame(new)
print(data)

   NAME  MARK
0  stu1    90
1  stu2    80

In [14]:
sem1 = {"stu1": 90, "stu2": 80, "stu3": 70}

new = pd.Series(sem1)
new1= pd.Series(sem1, index=["stu1","stu2"])
print(new)

stu1    90
stu2    80
stu3    70
dtype: int64

In [13]:
print(new1)

stu1    90
stu2    80
dtype: int64

In [5]:
df = pd.read_csv('example.csv')

In [7]:
print(df.head(5))

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [8]:
new1 = df.dropna()

In [9]:
new1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [11]:
new=df["Married"]
new.head(5)

0     No
1    Yes
2    Yes
3    Yes
4     No
Name: Married, dtype: object

In [12]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
609    False
610    False
611    False
612    False
613    False
Length: 614, dtype: bool